[class*='_individual_exe_group'],
.key_bindings_group,
[class*='individual_input_keybinding'] {
    &.input_item {
        > .input_w_and_help_btn {
            margin-left: $exe_group_offset;
        }
    }
}

[class*='_individual_exe_group'] > .label_in_input_item {
    font-size: 29px;
}

.key_bindings_group > .label_in_input_item {
    font-size: 25px;
}

[class*='individual_input_keybinding'] > .label_in_input_item {
    font-size: 21px;
}
