@import '../../../../node_modules/@loftyshaky/shared-app/scss/shared/vars';
@import '../../../../node_modules/@loftyshaky/shared-app/scss/shared/mixins';
@import '../../../../node_modules/@loftyshaky/shared-app/scss/shared/themes/colors/aqua';
@import 'template';

.section {
    @include glass;

    box-shadow: none;

    .section_name {
        background-color: $gvb;
    }
}
