* {
    color: #212121;
}

body,
.btn {
    background-color: white;
}

.btn.current {
    color: white;
}

.section_btns,
.section_btns .btn {
    background-color: #efe8ff;
}

.section_btns .btn.current {
    background-color: #9a70ff;
}
