.controls {
    display: block;
    margin-right: 10px;
}

.control {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control svg {
    width: 18px;
    height: 18px;
    fill: white;
}

.control.on {
    background-color: #32bf4a;
}

.control.off {
    background-color: #f14444;
}
