input[type='checkbox'] {
    accent-color: #3097e9;
    margin: 0;
    margin-right: 8px;
    vertical-align: -3px;
    height: 18px;
    width: 18px;
}

input[type='text'],
input[type='number'] {
    width: 500px;
    background-color: #efefef;
    border: 1px solid #bbb;
    padding: 0 7px;
    height: 30px;
    box-sizing: border-box;
}

.input_item {
    display: flex;
    align-items: center;
}
.input_item.text,
.input_item.number {
    align-items: end;
}

.input_item.text > *,
.input_item.number > * {
    display: block;
}

.input_item.text label,
.input_item.number label {
    margin-bottom: 4px;
}

.input_item:not(:first-child) {
    margin-top: 10px;
}

.input_item .input_w {
    display: flex;
    flex-direction: column;
}
